@charset "utf-8";
@import "../default.css";

.egg_area *{font-family:galmuri9;font-size:10px}
.egg_area{display:flex;flex-direction:column;cursor:default;height:300px;width:400px;max-width:100%;margin:10px auto}

.egg_area .action_area span,.egg_area .hatch_area .egg_img{background-position:center center;background-repeat:no-repeat;background-size:contain}
.egg_area .hatch_area{width:100%;height:100%;display:flex;justify-content:center;align-items:center;padding-bottom:0;background-repeat:no-repeat;background-size:cover;background-position:bottom center}
.egg_area .action_area{display:flex;flex-direction:column;justify-content:center;align-items:center;padding:5px 5px 10px;width:100%;text-align:center;min-height:50px;background-color:var(--default-color);flex-direction:row;flex-wrap:wrap}
.egg_area .action_area span{display:inline-flex;justify-content:center;align-items:center;border:1px solid var(--point-color);border-radius:3px;background-color:#fff;margin:0 2px;padding:0 10px;color:var(--default-color-text);cursor:pointer;background-color:var(--point-color);color:var(--point-color-text)}
.egg_area .egg_select{height:20px;padding:0 1px}
.egg_area .hatch_area .egg_img{width:60px;height:120px;background-image:url(../img/egg/egg_big.png)}