@charset "utf-8";


.log-BATTLE-data {display:block; position:relative; max-width:350px; margin:0 auto 20px;}
.log-BATTLE-data .log-tit {display:block; text-align:center; padding:10px; margin-bottom:10px;}
.log-BATTLE-data .log-battle-member {display:table; width:100%; table-layout:fixed;}
.log-BATTLE-data .log-battle-member > * {display:table-cell; vertical-align:middle; text-align:center;}
.log-BATTLE-data .log-battle-member .left,
.log-BATTLE-data .log-battle-member .right {width:34%;}

.log-BATTLE-data .thumb {display:block; position:relative; overflow:hidden;}
.log-BATTLE-data .thumb .name {display:block; position:absolute; left:0; right:0; bottom:0; padding:3px;}

.log-BATTLE-data .status-bar {padding-top:5px;}
.log-BATTLE-data .status-bar dl {padding:0; line-height:15px;}

.log-BATTLE-data .attack.cri {color:yellow; font-weight:800;}

.log-BATTLE-data .result {text-align:center; margin-top:5px;}

.log-BATTLE-data .reward {padding-top:10px;}
.log-BATTLE-data .reward dl {display:table; width:100%; table-layout:fixed; margin:0;}
.log-BATTLE-data .reward dl + dl {border-top:1px solid rgba(255,255,255,.1);}
.log-BATTLE-data .reward dl > * {display:table-cell; vertical-align:middle; padding:5px; font-size:11px;}
.log-BATTLE-data .reward dl dt {font-weight:800; width:7em;}