@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

:root{
	--point-color:#2b6462;
	--point-color-text:white;
	--default-color:#D5E8BB;
	--default-color-text:black;
}
.po_type {
    background-color: #9DC1B7;
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 9px;
    line-height: 10px;
    color: #000;
}

.po_type.불꽃 {
    background-color: #ef7374
}

.po_type.전기 {
    background-color: #fcd659
}

.po_type.노말 {
    background-color: #c1c2c1
}

.po_type.물 {
    background-color: #74acf5
}

.po_type.풀 {
    background-color: #82c274
}

.po_type.얼음 {
    background-color: #81dff7
}

.po_type.격투 {
    background-color: #ffac59
}

.po_type.고스트 {
    background-color: #b884dd
}

.po_type.땅 {
    background-color: #b88e6f
}

.po_type.강철 {
    background-color: #add2f5
}

.po_type.벌레 {
    background-color: #b8c26a
}

.po_type.바위 {
    background-color: #cbc7ad
}

.po_type.드래곤 {
    background-color: #8d98ec
}

.po_type.악 {
    background-color: #998b8c
}

.po_type.비행 {
    background-color: #98c2d1
}

.po_type.페어리 {
    background-color: #f5a2f5
}

.po_type.에스퍼 {
    background-color: #f584a8
}

.po_type.독{
background-color: #9784f5
}