@import "../default.css";
@import "../battle/battle.action.css";

.pokemon-action *{font-family:Galmuri9;font-size:10px;line-height:15px;box-sizing:border-box;color:#000}
.pokemon-action{max-width:100%;min-width:210px;width:300px;height:180px;background-color:#fff;margin:10px auto;background-size:cover;background-position:center center;background-repeat:no-repeat;position:relative;filter:drop-shadow(3px 3px #000000bd);box-sizing:border-box}

.pokemon-action .pokemon-action-msg{position:absolute;border-radius:10px;bottom:10px;left:7px;width:calc(100% - 14px);padding:5px 10px;background-color:#fffd;backdrop-filter:blur(5px);min-height:40px}
.pokemon-action .pokemon-action-msg:before{border-width:6px;filter:hue-rotate(171deg) brightness(.7)}

.pokemon-action.egg{height:auto;padding:0;background:0 0}
.pokemon-action.egg .pokemon-action-msg{position:relative;display:flex;justify-content:start;align-items:center;bottom:0;width:100%;left:0;background-color:#fff}
.pokemon-action.egg .pokemon-action-msg img{width:20px}
.pokemon-action.egg .pokemon-action-msg p{padding-left:10px}

.pokemon-action.evolution{display:flex;justify-content:center;align-items:center;padding-bottom:40px;pointer-events:none}

.pokemon-action.encount,.pokemon-action.hatch,.pokemon-action.partner,.pokemon-action.release{display:flex;justify-content:center;align-items:center;padding-bottom:40px;background-position:center center;pointer-events:none}
.pokemon-action.encount{pointer-events:initial}
.encount_list{display:flex;justify-content:center;align-items:center}
.encount_list li,.encount_list li label{display:flex;justify-content:center;align-items:center;flex-direction:column;text-align:center;width:80px}
.encount_list li input[type=radio]{display:none}
.encount_list li input[type=radio]:checked+.encount_img{filter:drop-shadow(0px 0px 3px #ffa900)}
.encount_list .encount_img{width:40px;height:40px;margin-bottom:3px;filter:drop-shadow(0px 0px 3px #000000b5)}
.encount_list:not(.event) .encount_img img{pointer-events:none;filter:brightness(0) blur(2px)}
.encount_list .encount_img.egg:before{content:"알";color:#fff}
.encount_list .encount_type span{background-color:var(--default-color);padding:1px 4px;font-size:10px;border-radius:5px;margin:0 1px}
.pokemon_encount form{text-align:center}
.pokemon_encount .ui-btn{position:block;height:auto;padding:2px 10px;margin-top:8px}

@media all and (max-width:360px) {
    .pokemon-action{height:auto;min-height:140px;background-position:center -20px}
}

@media (max-width:500px) {
    #action_event label:not(.action_label){justify-content:center;align-items:center;padding:2px;text-align:center}
    .comment-data.battle .select_list label.on{border-top:3px solid #e26bff;border-left:initial}
}