@import "../default.css";

*{box-sizing:border-box}
.mmb_action_area{padding-top:10px}
.mmb_action_area .warning{color:#d62828;background:0 0;padding:0}
.evo_detail input,.select_list input{display:none}
.evo_select.on,.evo_select:hover{filter:drop-shadow(0px 0px 4px red)}

#action_pokemon{display:flex}
#action_pokemon label{display:inline-flex;justify-content:start;align-items:center;background-color:var(--default-color);color:var(--default-color-text);padding:5px 10px}
#action_pokemon label input{width:10px;margin-right:3px}
#action_pokemon label img{max-width:16px;margin-right:2px}
#action_pokemon label:first-child{border-radius:5px 0 0}
#action_pokemon label:last-child{border-radius:0 5px 0 0}
#action_pokemon label.on,#action_pokemon label:hover,.comment-data#action_encount .select_list label.on,.comment-data#action_evolution .select_list label.on,.comment-data#action_release .select_list label.on p,.comment-data#action_release .select_list label:hover p,.mmb-board .egg_area{background-color:var(--point-color);color:var(--point-color-text)}

.comment-data.pokemon{padding:0;border:0;position:relative;margin:0 auto;background-color:#fffc;backdrop-filter:blur(5px)}
.comment-data.pokemon *{font-family:Galmuri9;font-size:10px;line-height:15px;color:#000}
.comment-data.pokemon .action_inner{width:100%;height:280px;position:relative}

.comment-data#action_encount .action_inner,.comment-data#action_evolution .action_inner{display:flex;width:100%;height:280px}
.comment-data#action_encount .select_list,.comment-data#action_evolution .select_list{background-color:var(--default-color);display:flex;flex-direction:column;align-items:center;height:100%;overflow-x:hidden;overflow-y:auto;min-width:100px}
.comment-data#action_evolution .select_list,.comment-data#action_partner .select_list{min-width:140px}
.comment-data#action_encount .select_list label,.comment-data#action_evolution .select_list label{min-width:100px;padding:3px;text-align:right;line-height:20px}
.comment-data#action_encount .select_list label img,.comment-data#action_evolution .select_list label img{max-width:25px;padding-right:0 1px}
.comment-data#action_encount .select_list label:hover,.comment-data#action_evolution .select_list label:hover{background-color:#fff;opacity:1}
.comment-data#action_encount .select_inner,.comment-data#action_evolution .select_inner,.comment-data#action_partner .select_list,.comment-data#action_release .select_list{width:100%;max-height:300px;height:100%;border:1px solid var(--default-color);border-left-width:0}
.comment-data#action_encount .select_inner{background-image:url(/pokemon/img/map.jpg);background-position:center center;background-size:cover;background-repeat:no-repeat}

.comment-data#action_battle .select_msg,.comment-data#action_encount .select_msg,.comment-data#action_evolution .select_msg,.comment-data#action_partner .select_msg,.comment-data#action_release .select_msg{position:absolute;max-height:300px;width:calc(100% - 100px);min-height:60px;border:1px solid var(--default-color);background-color:#fffa;backdrop-filter:blur(5px);padding:5px 10px;bottom:0;right:0;pointer-events:none;color:#000}
.comment-data#action_encount .select_inner .map_detail{position:relative;width:100%;height:100%;background-size:cover;background-position:bottom center;background-repeat:no-repeat;padding:20px 20px 80px}
.comment-data#action_encount .select_inner .map_detail:before{content:"\b4f1\c7a5\0020\d3ec\cf13\baac";display:block;height:20px;background-color:#fff;border-radius:5px 5px 0 0;line-height:20px;padding:0 10px}
.comment-data#action_encount .select_inner .map_detail ul{display:grid;position:relative;grid-template-columns:repeat(auto-fill,minmax(30px,auto));grid-template-rows:repeat(auto-fill,minmax(30px,auto));width:100%;height:calc(100% - 20px);background-color:#ffffff80;border-radius:0 0 5px 5px;padding:5px;overflow:auto;gap:2px;pointer-events:all}
.comment-data#action_encount .select_inner .map_detail ul li{background-size:contain;background-position:center center;background-repeat:no-repeat;width:30px;height:30px}

.comment-data#action_evolution .select_list label{display:flex;position:relative;justify-content:start;align-items:end;width:140px;padding-top:0;padding-bottom:6px;color:var(--default-color-text)}
.comment-data#action_evolution .select_list label.evo:after{content:"\c9c4\d654\0020\ac00\b2a5\0021";position:Absolute;right:4px;color:#d57979}
.comment-data#action_evolution .select_list label:after{content:"\c9c4\d654\0020\bd88\ac00";position:Absolute;right:4px;color:#9b9b9b}
.comment-data#action_evolution .select_msg,.comment-data#action_partner .select_msg{width:calc(100% - 140px)}
.comment-data#action_evolution .evo_detail label{width:60px;height:60px}
.comment-data#action_evolution .select_inner{display:flex;justify-content:center;align-items:center;background-image:url(/pokemon/img/evo_bg.png);background-position:center -70px;background-repeat:no-repeat}
.comment-data#action_evolution .evo_detail{text-align:center;padding-bottom:60px;width:100%;max-width:100%;max-height:100%;overflow:auto}
.comment-data#action_evolution .evo_detail .color_list label,.comment-data#action_evolution .evo_detail .sugar_list label{display:inline-block;width:32px!important;height:32px!important;display:inline-flex;justify-content:center;align-items:center}
.comment-data#action_evolution .evo_detail .sugar_list label{width:24px!important;height:24px!important}

.comment-data#action_battle .select_list,.comment-data#action_release .select_list{border-left-width:1px;display:flex;justify-content:center;align-items:center;padding-bottom:60px}
.comment-data#action_release .select_list{background-position:center bottom;background-repeat:no-repeat;background-size:cover}
.comment-data#action_release .select_list label{text-align:center;padding:10px 30px}
.comment-data#action_release .select_list label p{margin-top:20px;background-color:var(--default-color);color:var(--default-color-text)}
.comment-data#action_release .select_list label.on img,.comment-data#action_release .select_list label:hover img{filter:drop-shadow(0px 0px 4px #47a3cc)}
.comment-data#action_battle .select_msg,.comment-data#action_release .select_msg{width:100%}

.comment-data#action_partner .action_inner{display:flex;flex-direction:row-reverse;justify-content:center;align-items:start}
.comment-data#action_partner .select_list{width:100%;height:100%;padding:10px 20px 100px;position:relative;text-align:center;background-size:cover;background-position:center center}
.comment-data#action_partner .select_list p{margin:0 auto 10px;background-color:#fff;padding:2px 20px;border-radius:10px;width:150px;text-align:center;max-width:70%;position:relative;color:#000}
.comment-data#action_partner .select_list p:after,.comment-data#action_partner .select_list p:before{position:Absolute;display:inline-block;opacity:.3}
.comment-data#action_partner .select_list p:before{content:"◀";left:5px}
.comment-data#action_partner .select_list p:after{content:"▶";right:5px}
.comment-data#action_partner .box_wrapper{display:grid;position:relative;grid-template-columns:repeat(auto-fill,minmax(45px,auto));grid-template-rows:repeat(auto-fill,minmax(45px,auto));gap:5px;overflow:auto;width:100%;height:100%;justify-content:center;align-items:center}
.comment-data#action_partner .select_list label.on img,.comment-data#action_partner .select_list label:hover img{filter:drop-shadow(0px 0px 2px #47a3cc)}
.comment-data#action_partner .select_list label{width:45px;height:45px;padding:5px;background-color:#fff9;border-radius:2px;backdrop-filter:blur(3px)}
.comment-data#action_partner .select_inner{background-color:var(--default-color);display:flex;flex-direction:column;align-items:center;height:100%;width:140px;min-width:140px}
.comment-data#action_partner .select_inner .po_detail{width:100%;height:100%;padding:10px;text-align:center}
.comment-data#action_partner .select_inner .po_detail img{padding:5px;border-radius:5px;background-color:#fffc}
.comment-data#action_partner .select_inner .po_detail .po_name{font-weight:600;font-size:10px;padding:10px 0}
.comment-data#action_partner .select_inner .po_detail .po_name span{display:inline-block;padding:0 4px;border-radius:5px;margin-left:5px;background-color:#fffc}
.comment-data#action_evolution .evo_detail .color_list,.comment-data#action_partner .select_inner .po_detail .po_info{padding-bottom:10px}
.comment-data#action_partner .select_inner .po_detail .po_info span{display:inline-block;padding:0 5px}
.comment-data#action_partner .select_inner .po_detail .po_content{width:100%;height:113px;padding:10px;overflow:auto;text-align:left;border-radius:5px;background-color:#fffc}
.comment-data#action_partner .select_inner .po_detail .po_content span{display:block;opacity:.5}

.comment-data#action_battle .select_list{flex-direction:column;justify-content:center;align-items:center;height:100%;padding:10px 10px 70px}
.comment-data#action_battle .select_list input,.comment-data#action_battle .select_list select{background-color:#ffffffcf;color:#000;border:none}
.comment-data#action_battle .select_list input{display:block}

@media all and (max-width:400px) {
    #action_pokemon label{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;font-size:10px;padding:2px 5px;text-align:center;line-height:13px}

    .comment-data#action_encount .action_inner,.comment-data#action_evolution .action_inner{flex-direction:column;height:auto}
    .comment-data#action_encount .select_msg{position:relative;bottom:initial;width:100%;font-size:9px}
    .comment-data#action_encount .select_inner{border:none;pointer-events:none;padding:0;width:100%;height:140px}
    .comment-data#action_encount .select_inner .map_detail{padding:10px;font-size:9px}
    .comment-data#action_encount .select_inner .map_detail ul{padding:0;gap:0;grid-template-columns:repeat(auto-fill,minmax(20px,auto));grid-template-rows:repeat(auto-fill,minmax(20px,auto))}
    .comment-data#action_encount .select_inner .map_detail ul li{width:20px;height:20px}
    .comment-data#action_encount .select_list label{text-align:center;font-size:9px;min-width:initial;padding:2px}
    .comment-data#action_encount .select_list{display:grid;grid-template-columns:repeat(auto-fill,minmax(55px,1fr))}

    .comment-data#action_evolution .select_list{flex-direction:row}
    .comment-data#action_evolution .select_inner{border:none;height:140px;background-position:center center}
    .comment-data#action_evolution .select_inner .evo_detail{padding:10px}
    .comment-data#action_evolution .select_inner .evo_detail label{display:inline-block;width:40px;height:40px}
    .comment-data#action_evolution .select_list label{padding-left:0;padding-right:0;min-width:75px;width:100%;height:30px;font-size:9px;min-width:initial;justify-content:center;line-height:9px}
    .comment-data#action_evolution .select_list label img{width:16px}
    .comment-data#action_evolution .select_list label:after{display:block;text-align:center;top:3px;left:0;padding-left:14px}
    .comment-data#action_evolution .select_msg,.comment-data#action_release .select_msg{position:relative;width:100%;top:initial;left:initial}

    .comment-data#action_release .select_list{height:140px;border:none;padding-bottom:0}
    .comment-data#action_release .select_list label{padding:10px 20px}

    .comment-data#action_partner .select_msg{width:100%}
    .comment-data#action_partner .select_list{padding-left:0;padding-top:10px;padding-right:0;max-width:calc(100% - 140px)}
    .comment-data#action_partner .select_list p{padding:2px 5px;font-size:9px}
    .comment-data#action_partner .select_list p:after,.comment-data#action_partner .select_list p:before{content:none}
    .comment-data#action_partner .box_wrapper{grid-template-columns:repeat(auto-fill,minmax(32px,auto));grid-template-rows:repeat(auto-fill,minmax(32px,auto))}
    .comment-data#action_partner .select_list label{padding:2px;width:30px;height:30px}
    .comment-data#action_partner .select_inner .po_detail img{width:40px;height:40px}
    .comment-data#action_partner .select_inner .po_detail .po_content{height:85px}
}