@import "../default.css";

.info-inner .inner-area.on,.partner-area .partner-inner.on,.po_info_area .po_detail_area .po_chart .stat_name:hover span{display:block}
.po_info_area *{font-family:Galmuri9;font-size:10px;line-height:12px;color:#000}
.partner-area{color:var(--default-color-text);padding-top:0!important}
.partner-area #partner_tab{display:grid;grid-template-columns:repeat(auto-fit,minmax(60px,1fr));height:66px;justify-content:center;align-items:center;gap:2px;margin:0 auto;max-width:400px}
.partner-area #partner_tab li{display:inline-block;text-align:center;margin:0 auto;cursor:pointer;padding:0 3px}
.partner-area #partner_tab li img{width:44px}
.partner-area #partner_tab li span{display:block;min-width:60px;font-family:galmuri9;font-size:10px;line-height:14px;border-radius:4px;background-color:var(--default-color);color:var(--default-color-text);margin-top:5px}
.partner-area #partner_tab li.on span{background-color:var(--point-color);color:var(--point-color-text)!important}
.partner-area #partner_tab li.empty:before{content:"";display:block;background-color:var(--point-color);border-radius:50px;width:30px;height:30px}
.partner-area #partner_tab li.empty{pointer-events:none}

.po_info_area{margin:5px auto;cursor:default;width:100%;max-width:450px;padding:4px;border:2px solid #a9e0c1;box-shadow:2px 2px #436d8f;border-radius:8px;background:linear-gradient(-45deg,#a9e0c1 55%,#555a5b 55%,#61b7c4 60%,#436d8f 60%,#436d8f 85%)}

.po_info_area .po_name_area{background:linear-gradient(45deg,#62b7c4 50%,#7ed8d4 50%,#7ed8d4 58%,#fef1ed 58%,#fef1ed 85%,transparent 85%);filter:drop-shadow(4px 2px #436d8f);margin-left:-20px;padding:16px 14% 0 5px;min-height:50px;display:flex;position:retative}
.po_info_area .po_name_area .name_area_top{position:absolute;top:0;left:0;width:100%;height:16px;padding:2px 14px;color:#fff!important;background:linear-gradient(45deg,#436d8f 35%,transparent 60%)}
.po_info_area .po_name_area .name_area_top .po_ribbon_title{color:#fff!important}
.po_info_area .po_name_area .name_area_left,.po_info_area .po_name_area .name_area_right{width:100%;display:flex;align-items:center;justify-content:start}
.po_info_area .po_name_area .name_area_left .name_area{text-align:center}
.po_info_area .po_name_area .name_area_left .name_area span:not(.po_ribbon_title){display:block;font-size:18px;font-weight:700;color:#fff!important;font-family:"default"}
.po_info_area .po_name_area .name_area_left .name_area .po_ribbon_title{display:block;padding-bottom:2px}
.po_info_area .po_name_area .name_area_left .type_area{padding-left:10px}
.po_info_area .po_name_area .name_area_left .type_area p{padding-bottom:1px}
.po_info_area .po_name_area .name_area_left .type_area .po_gender{background-color:var(--default-color);padding:0 1px;border-radius:50px;font-size:9px}
.po_info_area .po_name_area .name_area_right{max-width:28%;justify-content:end}

.po_info_area .po_detail_area{display:flex;justify-content:space-between;align-items:center;padding:4px;background:linear-gradient(to right,#ffffffaa 75%,transparent);backdrop-filter:blur(10px);margin-top:4px}
.po_info_area .po_detail_area .po_chart{min-width:200px;height:200px;background-image:url(../img/objects/stat_back.png);background-repeat:no-repeat;background-position:center center;background-size:80%;padding:24px;position:relative;transform:translateY(3px) translateX(3px)}
.po_info_area .po_detail_area .po_chart canvas{position:absolute;pointer-events:none;width:150px!important;height:150px!important;opacity:.5;top:calc(50% - 2px);left:calc(50% - 2px);transform:translate(-50%,-50%)}
.po_info_area .po_detail_area .po_chart .po_dot{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);pointer-events:none}
.po_info_area .po_detail_area .po_chart .stat_name{position:absolute;font-family:"Material icons";width:20px;font-size:20px;height:20px;color:#399d9da8!important}

.stat_name.st_1{left:calc(50% - 11px);top:3px}
.po_info_area .po_detail_area .po_chart .stat_name.st_2{right:-2px;top:65px}
.po_info_area .po_detail_area .po_chart .stat_name.st_3{right:23px;bottom:8px}
.po_info_area .po_detail_area .po_chart .stat_name.st_4{left:23px;bottom:8px}
.po_info_area .po_detail_area .po_chart .stat_name.st_5{left:-2px;top:65px}

.po_info_area .po_detail_area .po_chart .stat_name span{position:absolute;display:none;width:52px;top:-18px;background-color:#436d8f;color:#fff;padding:1px 2px;left:50%;text-align:center;border-radius:4px;transform:translateX(-50%)}
.po_info_area .po_detail_area .po_chart .stat_name.st_1 span{top:24px}
.po_info_area .po_detail_area .po_chart .stat_name.st_2 span{transform:none;left:initial;right:0}
.po_info_area .po_detail_area .po_chart .stat_name.st_5 span{transform:none;left:0}

.po_info_area .po_detail_area .po_memo{width:100%;margin-left:10px;height:200px;border:2px solid #436d8f;border-radius:0 10px 10px 0;background-color:#fef1ed;box-shadow:2px 2px #436d8f;padding:28px 8px 8px;position:relative}
.po_info_area .po_detail_area .po_memo:before{content:"\d2b8\b808\c774\b108\0020\ba54\baa8";display:block;position:Absolute;top:0;left:0;border-bottom:2px solid #436d8f;width:100%;height:20px;line-height:20px;font-family:"default";font-size:12px;font-weight:800;padding-left:8px;box-sizing:border-box;border-radius:0 8px 0 0;background:linear-gradient(to right,#cbddd6,#70a5ae)}
.po_info_area .po_detail_area .po_memo:after{content:"";display:block;position:Absolute;top:2px;right:3px;width:20px;height:20px;background-image:url(/pokemon/img/objects/prof_deco_flower.png);background-repeat:no-repeat;background-size:contain;opacity:.5}
.po_info_area .po_detail_area .po_memo .po_content_area{overflow:auto;height:calc(100% - 50px);padding:1px;color:#000}
.po_info_area .po_detail_area .po_memo .po_pers_area{position:absolute;width:100%;bottom:0;left:0;min-height:50px;padding:6px;border-top:1px solid #70a5AEaa}
.po_info_area .po_detail_area .po_memo .po_pers_area p{font-size:9px;opacity:.9;color:#000}

.po_info_area .po_admin{display:block;font-size:13px;font-family:"default";color:#436d8f;font-weight:700;height:24px;line-height:16px;text-align:right;padding:3px 14px;border-radius:0 8px 8px;background:linear-gradient(-45deg,#fff 18%,#436d8f 18%,#436d8f 18.5%,#61b7c4 18.5%,#9bd6c2,#436d8f)}

.po_main,.po_rev_img,.po_ribbon_img{width:30px;height:30px;background-image:url(/data/item/item_51_img.png);background-size:contain;background-repeat:no-repeat;background-position:center center}
.po_main{background-image:url(/pokemon/img/objects/main.gif)}

.pokemon_item *{color:#000}

.pokemon_item .inventory-list li{box-sizing:border-box!important;display:inline-flex;justify-content:center;align-items:center;border:1px solid #d2af9f;cursor:pointer}
.pokemon_item .inventory-list#po_ribbon:before{content:"\b9ac\bcf8";font-weight:600;text-align:center}
.pokemon_item .inventory-list#po_ball:before{content:"\bcfc\cea1";font-weight:600;text-align:center}
.pokemon_item .inventory-list li.on{border:1px solid #ff5722}
.pokemon_item .inventory-list li.on,.pokemon_item .inventory-list li.selected,.pokemon_item .inventory-list li:hover{background-color:#d2af9f99}

.pokemon_item .item_info_area{background-color:#ffffffba;padding:10px}
.pokemon_item .item_info_area .it_name{font-family:point;font-weight:900;font-size:13px}
.pokemon_item .item_info_area .it_content{width:100%;height:100%;padding-top:5px}
.pokemon_item .item_info_area .ui-btn.equip{line-height:28px;width:100%;margin-top:8px}

.pokemon_adm{background-color:#c6ddd5;padding:10px;margin-top:30px}
.pokemon_adm .pokemon-adm{background-color:#ffffff90;padding:10px;border-radius:10px;margin-bottom:10px}
.pokemon_adm .pokemon-adm p{display:flex;flex-wrap:wrap;gap:10px;padding:5px 0;align-items:center}
.pokemon_adm .pokemon-adm p span{width:80px;font-weight:600}
.pokemon_adm .pokemon-adm p img{width:30px}
.pokemon_adm .pokemon-adm p textarea{width:80%}
.pokemon_adm .pokemon-adm button{width:100%}

.relation-member-list .memo .poke_info{margin-top:5px;padding-top:4px;border-top:1px solid #d2af9f}
.relation-member-list .memo .poke_info p{font-family:galmuri9;font-size:10px;line-height:12px}
.link_area {position: absolute;bottom: 4px;right: 3px;text-align: right}
.link_area a {display: inline-flex;justify-content: center;align-items: center;border-radius: 4px;margin-right: 1px}

@media all and (max-width:600px) {
	.pokemon_adm,.pokemon_adm .pokemon-adm{padding:5px}
	.pokemon_adm .pokemon-adm p{flex-direction:column;justify-content:start;align-items:start}
}

@media all and (max-width:460px) {
	.po_info_area .po_detail_area{display:flex;justify-content:center;flex-direction:column;align-items:center;background:linear-gradient(to bottom,#ffffffaa 55%,transparent 80%)}
	.po_info_area .po_detail_area .po_memo{width:100%;margin-left:0;height:130px}
	.po_info_area .po_name_area{background:linear-gradient(45deg,#62b7c4 50%,#7ed8d4 50%,#7ed8d4 58%,#fef1ed 58%,#fef1ed 85%);margin-left:0;padding-right:5px}
}
