.po_info,.st_list {
    background-color: #c6ddd5;
    border-radius: 10px;
    box-shadow: 2px 2px #00000094
}

.berry_info .berry_has_cnt,.berry_info .cnt_down,.berry_info .cnt_up,.berry_info .info .berry_name,.po_info .po_name,.po_list li.on span,.po_list li:hover span {
    color: var(--point-color-text)!important
}

.po_list,.po_stat {
    display: flex;
    justify-content: center;
    align-items: center
}

.po_list li span,.po_stat * {
    font-family: galmuri9;
    font-size: 10px
}

.po_stat form {
    width: 100%
}

.po_info {
    height: 280px;
    width: 50%;
    text-align: center
}

.po_info .po_dot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef6e2;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    height: 100px
}

.po_info .po_name {
    display: inline-block;
    background: var(--point-color);
    padding: 0 10px;
    border-radius: 4px
}

.po_info .has_point,.po_info .revolution {
    border-radius: 4px;
    margin: 10px;
    background-color: #fef6e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden
}

.po_info .point_inner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px
}

.po_info .has_point:before,.revolution:before {
    content: "\b0a8\c740\0020\d3ec\c778\d2b8\0020";
    padding: 3px 5px;
    background: var(--point-color);
    color: var(--point-color-text)!important;
    min-width: 60px
}

.revolution:before {
    content: "\ac01\c131"
}

.st_list {
    width: 100%;
    overflow: hidden;
    border: 1px solid #c6ddd5
}

.st_list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef6e2;
    position: relative
}

.st_list li:first-child {
    border-radius: 10px 10px 0 0
}

.st_list li:last-child {
    background-color: #c6ddd5;
    height: 24px;
    border-radius: 0 0 10px 10px
}

.st_list li:last-child input {
    width: 100%;
    height: 100%;
    border: none;
    background: 0 0;
    cursor: pointer
}

.st_list li:last-child :hover {
    background-color: var(--default-color)
}

.st_list li .berry_info,.st_list li .st_info {
    display: flex;
    align-items: center;
    width: 100%
}

.st_list li .st_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    max-width: 50px;
    min-width: 45px;
    font-size: 11px;
    background-color: #c6ddd5
}

.st_list li:first-child .berry_info {
    padding-top: 5px
}

.st_list li:first-child .st_name {
    height: 55px
}

.st_list li .st_info {
    width: 100%;
    max-width: 60px;
    min-width: 40px;
    text-align: right;
    padding-right: 5px
}

.st_list li .st_info .st_point {
    width: 100%;
    text-align: right
}

.berry_info {
    padding: 0 5px 5px
}

.berry_info .info {
    background-color: var(--point-color);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-radius: 0 5px 5px 0;
    padding: 5px 3px;
    height: 45px;
}

.berry_info .info .berry_name {
    text-align: center;
    font-size: 9px;
    line-height: 10px;
    min-width: 44px;
    max-width: 44px;
    width: 100%
}

.berry_info .info img {
    display: block;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto 1px;
    width: 24px
}

.berry_info .berry_has_cnt {
    width: 100%;
    text-align: right;
    padding-right: 5px;
    min-width: 30px
}

.berry_info .berry_has_cnt:after {
    content: "\ac1c\0020\bcf4\c720";
    font-size: 10px
}

.berry_info .cnt_area,.berry_info .give_cnt {
    width: 100%;
    max-width: 80px;
    height: 45px;
    background-color: var(--default-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
    border-radius: 0
}

.berry_info .give_cnt {
    min-width: 55px
}

.berry_info .cnt_area {
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    border-radius: 5px 0 0 5px;
    max-width: 25px;
    padding: 2px
}

.berry_info .give_cnt:after {
    content: "\ac1c\0020\c0ac\c6a9"
}

.berry_info .cnt_down,.berry_info .cnt_up {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--point-color);
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    font-family: "default"
}

.berry_info .cnt_down:hover,.berry_info .cnt_up:hover {
    background-color: #fef6e2;
    color: var(--default-color-text)!important
}

.disabled {
    filter: grayscale(1);
    cursor: default;
    pointer-events: none
}

.po_list a {
    width: 100%;
    height: 100%
}

.po_list li {
    width: 70px;
    border-radius: 4px;
    margin: 10px;
    background-color: #c6ddd5;
    padding: 10px 10px 5px;
    text-align: center;
    cursor: pointer
}

.po_list li img {
    padding: 5px;
    background-color: #fef6e2;
    border-radius: 4px
}

.po_list li.on,.po_list li:hover {
    background-color: var(--point-color)
}

@media all and (max-width: 570px) {
    .po_stat {
        flex-direction:column
    }

    .po_info {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative
    }

    .po_info .po_dot {
        width: 100%;
        height: 100%;
        min-width: 70px;
        margin: 0 0 0 10px
    }

    .po_info .info_inner {
        width: 100%;
        padding: 10px 0;
        min-width: 200px
    }
}

@media all and (max-width: 330px) {
    .st_list li * {
        font-size:9px
    }

    .berry_info {
        padding: 2px
    }

    .berry_info .give_cnt {
        min-width: 50px
    }

    .berry_info .berry_has_cnt {
        padding-right: 2px;
        min-width: 25px
    }

    .berry_info .info .berry_name {
        min-width: 30px;
        font-size: 7px
    }

    .st_list li .st_info {
        min-width: 30px;
        padding-right: 2px
    }

    .st_list li .st_name {
        min-width: 30px;
        font-size: 9px
    }

    .po_info {
        display: block
    }

    .po_info .po_dot {
        margin: 10px;
        width: auto
    }

    .po_info .info_inner {
        min-width: initial
    }
}
